.about {
  padding: 30px;
}

.about__heading {
  .text-sizes(25px; 30px);
  margin: 0;
}

.advantage-list {
  list-style: none;
  margin: 0;

  &__item {
    .text-sizes(17px; 20px);
    margin-top: 83px;
  }
}
