.catalog {
  margin: 0 30px 58px 30px;
}

.catalog__title {
  .text-sizes(27px; 30px);
  margin: 0 -30px;
  padding: 74px 0;
  text-align: center;
  background-color: @light-gray;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
