.color__wrapper {
  width: 260px;
  margin: 0 auto;
  border: none;
  margin-top: 45px;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.color__title {
  .text-sizes(17px; 16px);
  text-transform: uppercase;
  color: @wave;
}

.color__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color__item {
  margin-top: 43px;

  &:first-child {
    margin-top: 36px;
  }
}

.color__label {
  .text-sizes(17px; 18px);
  position: relative;
  padding-left: 61px;
}

.color__checkbox + label::before {
  content: "";
  position: absolute;
  .sizes(34px; 34px);
  top: -10px;
  left: 0;
  border: 2px solid @gray;
}

.color__checkbox + label {
  &:hover::before {
    border: 2px solid @light-wave;
  }

  &:active::before {
    border: 2px solid @black-30;
  }
}

.color__checkbox:checked + label::after {
  content: "";
  position: absolute;
  .sizes(23px; 16px);
  top: 2px;
  left: 7px;
  background: url("../img/tick.svg") no-repeat 0 0;
}

@media (max-width: 767px) {
  .color__title {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      .sizes(200px; 1px);
      background-color: @light-wave;
      top: 7px;
      left: 60px;
    }
  }
}

@media (min-width: @tablet-width) {
  .color {
    background-color: @light-gray;
  }

  .color__label {
    .text-sizes(19px; 18px);
    padding-left: 80px;
  }

  .color__checkbox + label::before {
    .sizes(48px; 48px);
    top: -12px;
    left: -3px;
  }

  .color__checkbox:checked + label::after {
    .sizes(33px; 22px);
    top: 2px;
    left: 7px;
    background: url("../img/tick-tablet.svg") no-repeat 0 0;
  }

  .color__title {
    padding-top: 68px;
    grid-column: ~"1/2";
    grid-row: ~"1/2";
    margin: 0;
  }

  .color__wrapper {
    width: 668px;
    display: grid;
    grid-template-columns: 170px auto;
    grid-template-rows: auto;
    margin-top: 66px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .color__list {
    grid-column: ~"2/3";
    grid-row: ~"1/2";
    margin-top: -16px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 69px;
  }

  .color__item {
    width: 47%;
    margin-top: 57px;

    &:first-child,
    &:nth-child(2) {
      margin-top: 0;
    }

    &:first-child,
    &:nth-child(3),
    &:nth-child(5) {
      width: 53%;
    }
  }
}

@media (min-width: @desktop-width) {
  .color__wrapper {
    width: 956px;
    padding-left: 97px;
    padding-right: 97px;
    grid-template-columns: 130px auto;
  }

  .color__title {
    margin-left: 15px;
  }

  .color__item {
    width: 32%;

    &:first-child,
    &:nth-child(3),
    &:nth-child(5) {
      width: 32%;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 0;
    }
  }

  .color__checkbox + label::before {
    top: -16px;
  }

  .color__checkbox:checked + label::after {
    top: 0;
  }
}
