.comments {
  padding: 30px;
  padding-bottom: 45px;
}

.comments__heading {
  .text-sizes(25px; 30px);
  margin: 0;
}

.comments__text {
  .text-sizes(15px; 30px);
  .text400();
  margin: 0;
  margin-top: 14px;
}

.comments__cite {
  .text-sizes(17px; 24px);
  margin: 0;
  margin-top: 33px;
}

.comments__email {
  .text-sizes(17px; 30px);
  .text400();
}

.comments__button-wrapper {
  display: flex;
  margin-top: 30px;
}

.comments__back,
.comments__forward {
  .sizes(128px; 50px);
  border: 1px solid @smoke-gray;
  background-color: @white;
}

.comments__write {
  .sizes(254px; 48px);
  .text-sizes(18px; 52px);
  text-transform: uppercase;
  border: 2px solid @gray;
  color: @gray;
  text-decoration: none;
  text-align: center;
  margin-top: 38px;
}

@media (min-width: @tablet-width) {
  .comments {
    padding-right: 50px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px auto auto;
  }

  .comments__heading {
    .text-sizes(43px; 50px);
    grid-column: ~"1/3";
    grid-row: ~"1/2";
  }

  .comments__text {
    .text-sizes(17px; 30px);
    margin-top: 39px;
    grid-column: ~"1/3";
    grid-row: ~"2/3";
  }

  .comments__cite {
    margin-top: 61px;
  }

  .comments__write {
    grid-column: ~"2/3";
    grid-row: ~"1/2";
    margin-top: 0;
    margin-left: auto;
  }

  .comments__button-wrapper {
    grid-column: ~"2/3";
    grid-row: ~"3/4";
    margin-left: auto;
    margin-top: 61px;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    margin-left: 175px;
    padding-top: 78px;
    padding-bottom: 163px;
  }
}
