.contacts__wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

.contacts__feedback-wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

.contacts {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__heading {
  .text-sizes(25px; 30px);
  margin: 0;
  margin-top: 38px;
}

.contacts__list {
  display: grid;
  grid-template-columns: 76px 1fr;
  grid-template-rows: 60px auto;
  margin: 0;
  margin-top: 28px;
}

.contacts__email,
.contacts__adress {
  margin: 0;
}


.contacts__item,
.contacts__email,
.contacts__adress {
  .text-sizes(14px; 30px);
  .text400();
}

.contacts__link {
  color: @gray;
  text-decoration: none;
  font-weight: 400;
}

.contacts__map {
  width: 100%;
  margin-top: 62px;
}

.contacts__map-image {
  .sizes(100%; auto);
}

.contacts__feedback {
  display: block;
  .sizes(254px; 48px);
  .text-sizes(18px; 52px);
  text-transform: uppercase;
  border: 2px solid @gray;
  color: @gray;
  text-decoration: none;
  text-align: center;
  margin-top: 42px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: @tablet-width;
  }

  .contacts {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__heading {
    .text-sizes(43px; 50px);
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;
  }

  .contacts__item,
  .contacts__email,
  .contacts__adress {
    .text-sizes(17px; 30px);
  }

  /*.contacts__map-image {
    .sizes(768px; 457px);
  }*/

  .contacts__map {
    margin-top: 49px;
  }

  .contacts__feedback {
    .sizes(230px; 52px);
    .text-sizes(17px; 52px);
    margin: 0 auto;
    margin-top: 55px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-left: 224px;
    padding-top: 0;
    display: grid;
    grid-template-columns: auto 527px;
    column-gap: 23px;
    grid-template-rows: 207px auto auto;
  }

  .contacts__heading {
    .text-sizes(53px; 57px);
    grid-column: ~"1/2";
    grid-row: ~"1/2";
    margin-top: 150px;
  }

  .contacts__list {
    grid-column: ~"1/2";
    grid-row: ~"2/3";
    margin-top: 35px;
    display: grid;
    grid-template-columns: 82px auto;
    grid-template-rows: 60px auto;
    justify-content: start;
  }

  .contacts__feedback {
    margin-top: 85px;
    grid-column: ~"1/2";
    grid-row: ~"3/4";
  }

  .contacts__map-image {
    .sizes(527px; 457px);
  }

  .contacts__map {
    .sizes(527px; 457px);
    grid-column: ~"2/3";
    grid-row: ~"1/4";
    margin: 0;
    margin-right: -50px;
    margin-top: 71px;
  }
}
