.copyright {
  display: flex;
  margin-top: 50px;
}

.copyright__descripion {
  .text-sizes(19px; 18px);
  margin-right: 27px;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin-top: 0;
  }
}
