.features-list {
  margin: 0;
  margin-top: 28px;
  display: grid;
  grid-template-columns: 97px auto;
  grid-template-rows: 40px 40px 40px;
}

.features-list__item,
.features-list__definition {
  .text-sizes(15px; 20px);
  .text400();
  margin: 0;
}

@media (min-width: @tablet-width) {
  .features-list {
    grid-column: ~"1/2";
    margin: 0;
    margin-top: 48px;
  }
}

@media (min-width: @desktop-width) {
  .features-list {
    grid-column: ~"2/3";
    grid-row: ~"3/4";
    margin: 0;
    margin-top: 60px;
  }
}
