.footer {
  background-color: @light-gray;
  padding: 25px 69px 23px 69px;

  &__socials {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 142px;
  }

  &__copyright {
    display: flex;
    margin-top: 50px;
  }
}

.copyright__descripion {
  .text-sizes(19px; 18px);
  margin-right: 27px;
}
