.footer {
  width: 100%;
  background-color: @light-gray;
  margin-top: 39px;
}

.footer__wrapper {
  width: 260px;
  padding: 25px 30px 23px 30px;
  margin: 0 auto;
}

.footer__logo-link {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    width: 668px;
    padding: 51px 50px 58px 50px;
    display: flex;
    justify-content: space-between;
  }

  .footer__logo-link {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 100%;
  }
}
