.form {
  margin-bottom: 16px;
}

.form__annotation-wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

.form__heading {
  .text-sizes(27px; 30px);
  background-color: @light-gray;
  padding: 74px 0;
  text-align: center;
  margin: 0;
}

.form__annotation {
  .text-sizes(13px; 24px);
  .text400();
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  margin-top: 17px;
}

@media (min-width: @tablet-width) {
  .form__annotation-wrapper {
    width: @tablet-width;
  }

  .form__annotation {
    padding-left: 50px;
    padding-right: 50px;
    .text-sizes(17px; 30px);
    margin-top: 65px;
  }

  .form__heading {
    .text-sizes(43px; 50px);
    padding: 100px 0 75px 0;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 24px;
      position: absolute;
      bottom: -10px;
      left: 0;
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-repeat: repeat;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__annotation-wrapper {
    width: @desktop-width;
  }

  .form__annotation {
    padding-left: 225px;
    padding-right: 223px;
    margin-top: 115px;
  }

  .form__heading {
    .text-sizes(53px; 57px);
    padding: 102px 0 96px 0;

    &::after {
      content: "";
      width: 100%;
      height: 34px;
      position: absolute;
      bottom: -10px;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: repeat;
    }
  }
}
