.lead {
  background: @light-gray url("../img/main-background.jpg") no-repeat;
  height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 73px;
}

.lead__wrapper {
  width: @mobile-width;
}

.lead__text {
  .sizes(260px; 90px);
  .text-sizes(27px; 30px);
  text-align: center;
  margin: 0 auto;
}

.lead__link-wrapper {
  display: flex;
  flex-direction: column;
}

.lead__link {
  padding: 24px 0 31px 30px;
  display: inline-block;
  .text-sizes(19px; 24px);
  color: @white;
  text-decoration: none;

  &--interior {
    background-color: @wave;
  }

  &--toys {
    background-color: @dark-wave;
  }
}

@media (min-width: @tablet-width) {
  .lead {
    height: 757px;
    background-size: 100% auto;
  }

  .lead__wrapper {
    width: @tablet-width;
  }

  .lead__link-wrapper {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }

  .lead__link {
    width: 50%;
  }

  .lead__text {
    .sizes(668px; 100px);
    .text-sizes(43px; 50px);
  }
}

@media (min-width: @desktop-width) {
  .lead {
    height: 763px;
    background-size: 100% auto;
  }

  .lead__wrapper {
    width: 100%;
  }
}
