.lead {
  width: @mobile-width;
  margin: 0 auto;
  background: @super-light-gray url("../img/main-background.jpg") center -17px no-repeat;
  background-size: 320px;
  height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 73px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-background@2x.jpg");
  }
}

.lead__wrapper {
  background-color: @light-gray;
  width: 100%;
}

.lead__heading {
  .sizes(260px; 90px);
  .text-sizes(27px; 30px);
  text-align: center;
  margin: 0 auto;
}

.lead__link-wrapper {
  display: flex;
  flex-direction: column;
}

.lead__link {
  display: flex;
  justify-content: space-between;
  .text-sizes(19px; 24px);
  color: @white;
  text-decoration: none;

  &--interior {
    padding: 24px 36px 18px 30px;
    background-color: @wave;
  }

  &--toys {
    padding: 21px 27px 22px 30px;
    background-color: @dark-wave;
  }
}

.lead__icon {
  opacity: 0.5;
  display: block;
}

.lead__link--interior:hover {
  padding-bottom: 23px;
  background-color: @light-hover-wave;
  margin-top: -5px;

  & .lead__icon {
    opacity: 0.7;
  }
}

.lead__link--toys:hover {
  padding-bottom: 27px;
  background-color: @dark-hover-wave;
  margin-top: -5px;

  & .lead__icon {
    opacity: 0.7;
  }
}

.lead__link--interior:active {
  padding-bottom: 18px;
  background-color: @light-hover-wave;
  margin-top: 0;

  & .lead__icon {
    opacity: 0.3;
  }
}

.lead__link--toys:active {
  padding-bottom: 22px;
  background-color: @dark-hover-wave;
  margin-top: 0;

  & .lead__icon {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .lead {
    width: 668px;
    height: 592px;
    background-size: 768px auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 154px;
    background-image: url("../img/main-background-tablet.jpg");
    background-position: 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-background-tablet@2x.jpg");
    }
  }

  .lead__wrapper {
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 24px;
      position: absolute;
      bottom: -10px;
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-repeat: repeat;
    }
  }

  .lead__link-wrapper {
    flex-direction: row;
  }

  .lead__link {
    width: 50%;

    &--interior {
      padding: 30px 36px 27px 36px;
    }

    &--toys {
      padding: 31px 33px 27px 36px;
    }
  }

  .lead__link--interior:hover,
  .lead__link--toys:hover {
    padding-bottom: 32px;
  }

  .lead__link--interior:active,
  .lead__link--toys:active {
    padding-bottom: 27px;
  }

  .lead__heading {
    .sizes(668px; 100px);
    .text-sizes(43px; 50px);
  }
}

@media (min-width: @desktop-width) {
  .lead {
    width: 1050px;
    height: 589px;
    padding-top: 157px;
    background-position: 50% 0;
  }

  .lead__heading {
    .sizes(700px; 114px);
    .text-sizes(53px; 57px);
  }

  .lead__wrapper::after {
    content: "";
    width: 100%;
    height: 34px;
    position: absolute;
    bottom: -10px;
    background-image: url("../img/zigzag-fill-desktop.svg");
    background-repeat: repeat;
  }
}
