.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list__item {
  height: 70px;
}

.menu-list__link {
  .text-sizes(17px; 24px);
  text-decoration: none;
  color: @black;
  margin-left: 76px;
  text-align: center;
}
