.order__fieldset {
  border: none;
  border-top: 1px solid @light-wave;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 29px;
}

.order__title {
  .text-sizes(17px; 16px);
  color: @wave;
  margin-top: 29px;
}

.order__button {
  .text-sizes(17px; 16px);
  color: @gray;
  border: 2px solid @gray;
  background-color: @white;
  .sizes(260px; 52px);
  font-weight: 700;
  margin-top: 30px;
}
