.popup__wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

.popup {
  padding: 29px 30px 46px 30px;
}

.popup__form {
  margin-top: 14px;
}

.popup__item {
  .sizes(78px; 48px);
  border: 2px solid @gray-10;
  text-align: center;

  &:hover {
    border: 2px solid @gray-30;
  }

  &:active {
    border: 2px solid @light-wave;
  }
}

.popup__label {
  .text-sizes(17px; 16px);
  display: block;
  .sizes(100%; 33px);
  padding-top: 15px;
}

.popup__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.popup__heading {
  .text-sizes(25px; 30px);
  margin: 0 auto;
  text-align: center;
}

.popup__legend {
  .text-sizes(15px; 30px);
  color: @gray;
  font-weight: 400;
}

.popup__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 22px;
}

.popup__add {
  display: block;
  background-color: @wave;
  .sizes(260px; 52px);
  color: @white;
  .text-sizes(17px; 16px);
  border: none;
  margin-top: 31px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .popup__wrapper {
    .sizes(566px; 336px);
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
    padding: 0;
  }

  .popup {
    padding: 0 108px 0 108px;
  }

  .popup__heading {
    .text-sizes(30px; 57px);
    margin-top: 38px;
  }

  .popup__legend {
    .text-sizes(17px; 30px);
    margin: 0 auto;
    margin-top: 11px;
  }

  .popup__list {
    margin-top: 20px;
  }

  .popup__item {
    .sizes(108px; 48px);
  }

  .popup__add {
    .sizes(350px; 52px);
  }
}
