.popup {
  padding: 29px 30px 46px 30px;
}

.popup__form {
  margin-top: 14px;
}

.popup__chosen {
  border: none;
  margin: 0;
  padding: 0;
}

.popup__heading {
  .text-sizes(25px; 30px);
  margin: 0;
  text-align: center;
}

.popup__text {
  .text-sizes(15px; 30px);
  color: @gray;
  font-weight: 400;
}

.popup__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 22px;
}

.popup__add {
  display: block;
  background-color: @wave;
  .sizes(260px; 52px);
  color: @white;
  .text-sizes(17px; 16px);
  border: none;
  margin-top: 31px;
}

@media (min-width: @tablet-width) {
  .popup {
    .sizes(566px; 336px);
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
    padding: 0;
  }

  .popup__heading {
    .text-sizes(30px; 57px);
    margin-top: 38px;
  }

  .popup__text {
    .text-sizes(17px; 30px);
    margin: 0 auto;
    margin-top: 11px;
  }

  .popup__list {
    margin-top: 20px;
  }

  .popup__add {
    .sizes(350px; 52px);
    margin: 0 auto;
  }
}
