.production {
  margin-top: 30px;
  position: relative;
}

.production__title {
  .text-sizes(17px; 24px);
  margin: 0;
  padding: 22px 13px 27px 91px;
  border: 1px solid @smoke-gray;
}

.production__video {
  display: block;
}

.production__play {
  position: absolute;
  top: 163px;
  left: 60px;
}

.production__wrapper {
  border: 1px solid @smoke-gray;
  padding: 35px 34px 33px 34px;
}

.production__text {
  margin: 0;
  .text-sizes(13px; 24px);
  .text400();
}

.production__order-button {
  .sizes(192px; 52px);
  .text-sizes(18px; 16px);
  border: 2px solid @gray;
  color: @gray;
  background-color: @white;
  text-align: center;
  .font-family();
  font-weight: 700;
  margin-top: 18px;
  text-transform: uppercase;
}
