.socials {
  width: 182px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.socials__link-icon {
  fill: @dark;
}

.socials__item {
  flex-grow: 1;
  height: 100%;
  text-align: center;

  &:hover svg use {
    fill: @dark-hover-wave;
  }

  &:active svg use {
    opacity: 0.3;
  }
}

.socials__link {
  display: block;
  padding-top: 17px;
  height: 100%;
}
