.user-contact__wrapper {
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.user-contact {
  width: @mobile-width;
  margin: 0 auto;
}

.user-contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-contact__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-contact__icon {
  position: absolute;
  right: 5px;
  top: 70px;

  & use {
    opacity: 0.2;
  }

  &--email {
    top: 70px;
  }
}

.user-contact__input:hover,
.user-contact__input:focus {
  & + svg use {
    fill: @light-wave;
    opacity: 1;
  }
}

.user-contact__input {
  height: 54px;
  border: none;
  border-bottom: 2px solid @gray;
  padding: 0;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 2px solid @light-wave;
  }
}

.user-contact__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-contact__label {
  .text-sizes(17px; 16px);
  color: @wave;
  margin-top: 35px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .user-contact__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .user-contact {
    width: 100%;
    background-color: @light-gray;
  }

  .user-contact__label {
    margin-top: 15px;
  }

  .user-contact__item {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;

    &:first-child {
      margin-top: 50px;
    }
  }

  .user-contact__input {
    .sizes(501px; 50px);
    background-color: @light-gray;
  }

  .user-contact__icon {
    top: 15px;
    right: 25px;

    &--email {
      right: 25px;
    }
  }
}

@media (min-width: @desktop-width) {
  .user-contact__wrapper {
    width: 828px;
    padding-left: 110px;
    padding-right: 210px;
  }

  .user-contact__input {
    width: 700px;
    margin-right: 12px;
    height: 48px;
  }

  .user-contact__icon {
    right: 20px;
  }
}
