.week-product {
  padding: 30px;
  padding-bottom: 36px;
  position: relative;
}

.week-product__heading {
  margin: 0;
  .text-sizes(17px; 20px);
  color: @wave;
  position: absolute;
  top: 65px;
}

.week-product__title {
  margin: 0;
  .text-sizes(25px; 30px);
}

.week-product__text {
  margin: 0;
  margin-top: 41px;
  .text-sizes(15px; 24px);
  color: @gray;
  font-weight: 400;
}

.features-list {
  margin: 0;
  margin-top: 28px;
  display: grid;
  grid-template-columns: 97px auto;
  grid-template-rows: 40px 40px 40px;

  &__item,
  &__definition {
    .text-sizes(15px; 39px);
    color: @gray;
    font-weight: 400;
  }
}

.week-product__image {
  .sizes(260px; 315px);
  margin-top: 28px;
}

.week-product__price {
  .text-sizes(17px; 24px);
  text-align: center;
  margin-top: 26px;
}

.week-product__order {
  .sizes(260px; 52px);
  .text-sizes(18px; 20px);
  border: 2px solid @gray;
  color: @gray;
  background-color: @white;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  margin-top: 25px;
}
