/*colors*/
@black: #000000;
@black-30: rgba(0, 0, 0, 0.3);
@black-10: rgba(0, 0, 0, 0.1);
@dark: #231F20;
@gray: #444444;
@gray-10: rgba(68, 68, 68, 0.1);
@gray-30: rgba(68, 68, 68, 0.3);
@smoke-gray: #ECECEC;
@light-gray: #F1F1F1;
@button-gray: #C4C4C4;
@super-light-gray: #F9F9F9;
@light-wave: #62D1BA;
@light-hover-wave: #59D5BC;
@dark-hover-wave: #46C1AE;
@dark-hover-wave-10: rgba(70, 193, 174, 1);
@wave: #63D1BB;
@dark-wave: #56C3B2;
@light-green: #6BC6B3;
@green: #149080;
@white: #FFFFFF;

/*mixins*/

.font-family() {
  font-family: "Open Sans", "Arial", sans-serif;
}

.text400() {
  color: @gray;
  font-weight: 400;
}

.text-sizes(@font-size; @line-height;) {
  font-size: @font-size;
  line-height: @line-height;
}

.sizes(@width; @height;) {
  width: @width;
  height: @height;
}

/*viewports*/

@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width: 320px;
